.xcurrent > .pv-ico.xme {
  width: 1.1rem;
  height: 1.2000000000000002rem;
  background-position: -12.75rem -4.95rem;
  background-size: 13.75rem 10.825rem;
}
.xcurrent > .pv-ico.xshare {
  width: 1.35rem;
  height: 1.35rem;
  background-position: -9rem -2.075rem;
  background-size: 13.75rem 10.825rem;
}
.xcurrent > .pv-ico.xstudent {
  width: 1.1rem;
  height: 1.25rem;
  background-position: -12.75rem -3.3rem;
  background-size: 13.75rem 10.825rem;
}
.pv-ico.xbrand {
  width: 1.85rem;
  height: 2.025rem;
  background-position: -2.5rem -5.85rem;
  background-size: 13.75rem 10.825rem;
}
.pv-ico.xbusiness {
  width: 1.35rem;
  height: 1.25rem;
  background-position: 0rem -9.675rem;
  background-size: 13.75rem 10.825rem;
}
.pv-ico.xclose {
  width: 2.2rem;
  height: 2.2rem;
  background-position: 0rem -3.25rem;
  background-size: 13.75rem 10.825rem;
}
.pv-ico.xcontent {
  width: 2.1rem;
  height: 2.1rem;
  background-position: -6.5rem 0rem;
  background-size: 13.75rem 10.825rem;
}
.pv-ico.xcooperation {
  width: 1.6500000000000001rem;
  height: 1.675rem;
  background-position: -9rem 0rem;
  background-size: 13.75rem 10.825rem;
}
.pv-ico.xdata {
  width: 2.1rem;
  height: 2.1rem;
  background-position: 0rem -5.85rem;
  background-size: 13.75rem 10.825rem;
}
.pv-ico.xguide {
  width: 1.35rem;
  height: 1.35rem;
  background-position: -9rem -5.575rem;
  background-size: 13.75rem 10.825rem;
}
.pv-ico.xincome {
  width: 1.175rem;
  height: 1.4000000000000001rem;
  background-position: -11.05rem -5.1rem;
  background-size: 13.75rem 10.825rem;
}
.pv-ico.xme {
  width: 1.1rem;
  height: 1.2000000000000002rem;
  background-position: -12.75rem -6.55rem;
  background-size: 13.75rem 10.825rem;
}
.pv-ico.xmoments {
  width: 2.85rem;
  height: 2.85rem;
  background-position: -3.25rem 0rem;
  background-size: 13.75rem 10.825rem;
}
.pv-ico.xno1 {
  width: 1.3rem;
  height: 1.3rem;
  background-position: -7.075rem -5.85rem;
  background-size: 13.75rem 10.825rem;
}
.pv-ico.xno2 {
  width: 1.3rem;
  height: 1.3rem;
  background-position: -11.05rem 0rem;
  background-size: 13.75rem 10.825rem;
}
.pv-ico.xno3 {
  width: 1.3rem;
  height: 1.3rem;
  background-position: -11.05rem -3.4rem;
  background-size: 13.75rem 10.825rem;
}
.pv-ico.xnotice {
  width: 0.9rem;
  height: 0.9rem;
  background-position: -12.75rem -8.15rem;
  background-size: 13.75rem 10.825rem;
}
.pv-ico.xplay {
  width: 1.3rem;
  height: 1.3rem;
  background-position: -11.05rem -1.7rem;
  background-size: 13.75rem 10.825rem;
}
.pv-ico.xrank {
  width: 1.25rem;
  height: 1.1500000000000001rem;
  background-position: -3.5rem -9.675rem;
  background-size: 13.75rem 10.825rem;
}
.pv-ico.xservice {
  width: 1.35rem;
  height: 1.2000000000000002rem;
  background-position: -1.75rem -9.675rem;
  background-size: 13.75rem 10.825rem;
}
.pv-ico.xshare {
  width: 1.35rem;
  height: 1.35rem;
  background-position: -9rem -3.825rem;
  background-size: 13.75rem 10.825rem;
}
.pv-ico.xstudent {
  width: 1.1rem;
  height: 1.25rem;
  background-position: -12.75rem -1.65rem;
  background-size: 13.75rem 10.825rem;
}
.pv-ico.xstuent {
  width: 1.1rem;
  height: 1.25rem;
  background-position: -12.75rem 0rem;
  background-size: 13.75rem 10.825rem;
}
.pv-ico.xtask {
  width: 2.125rem;
  height: 0.9249999999999999rem;
  background-position: -2.525rem -8.35rem;
  background-size: 13.75rem 10.825rem;
}
.pv-ico.xtask.xdone {
  width: 2.125rem;
  height: 0.9249999999999999rem;
  background-position: 0rem -8.35rem;
  background-size: 13.75rem 10.825rem;
}
.pv-ico.xtechnology {
  width: 2.1rem;
  height: 2.1rem;
  background-position: -6.5rem -2.5rem;
  background-size: 13.75rem 10.825rem;
}
.pv-ico.xuser {
  width: 2.1rem;
  height: 2.1rem;
  background-position: -2.6rem -3.25rem;
  background-size: 13.75rem 10.825rem;
}
.pv-ico.xuser2 {
  width: 1.925rem;
  height: 1.7000000000000002rem;
  background-position: -4.75rem -5.85rem;
  background-size: 13.75rem 10.825rem;
}
.pv-ico.xweixin {
  width: 2.85rem;
  height: 2.85rem;
  background-position: 0rem 0rem;
  background-size: 13.75rem 10.825rem;
}
.pv-ico.xwithdraw {
  width: 1.225rem;
  height: 1.225rem;
  background-position: -11.05rem -6.9rem;
  background-size: 13.75rem 10.825rem;
}
