// 任务球
.pv-taskball {
  position: fixed;
  top: 7.5rem;
  right: 0;
  z-index: 10;
  width: 4.075rem;
  height: 3.575rem;
  padding: 0 .6rem;
  font-size: .6rem;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background: url("~@images/tasks/taskball.png") no-repeat center center / 100% 100%;
}

.pv-taskball:after {
  content: "";
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}

// 任务球: 内容文本区
.pv-taskball-inner {
  position: relative;
  top: -.3rem;
  display: inline-block;
  line-height: 1.1;
  white-space: normal;
  vertical-align: middle;
}

// 任务球: 数字
.pv-taskball-num {
  font-size: 1.1rem;
  font-weight: bold;
  color: #fcee00;
}

// 任务弹窗
// stylelint-disable
.mint-popup.xtask {
  z-index: 3000 !important;
  background: transparent;
  transition: none;
}

// 任务弹窗: modal摭罩
.mint-popup.xtask + .v-modal {
  opacity: .6;
}

.mint-popup.xtask.xtop + .v-modal,
.mint-popup.xtask.xbottom + .v-modal {
  opacity: 0.05;
}

// 任务弹窗: 内容顶部对齐
.mint-popup.xtop {
  top: 0;
  left: auto;
  transform: none;
}

// 任务弹窗: 内容底部对齐
.mint-popup.xtask.xbottom {
  top: auto;
  bottom: 0;
  left: auto;
  transform: none;
}

// 任务弹窗: 关闭按钮
.pv-task > .pv-ico.xclose {
  position: fixed;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
}

.pv-task > .pv-ico.xclose {
  top: -1rem;
}

.mint-popup.xtask.xtop .pv-ico.xclose,
.mint-popup.xtask.xbottom .pv-ico.xclose {
  top: 1rem;
}

// 任务弹窗: 主体内容
.pv-task-body {
  position: relative;
}

// 任务弹窗: 任务海报
.pv-task-bill {
  max-width: 100%;
}

// 任务弹窗: 总任务弹窗中的小标签
.pv-ico.xtask {
  position: absolute;
  right: 20%;
  line-height: .9rem;
  font-size: .6rem;
  text-align: center;
}

// -------------------- 任务: 任务状态  --------------------
// 缩小字号
.pv-ico.xtask > span {
  display: inline-block;
  color: #fff;
  transform: scale(.85) translateY(-.15rem);
}

// 任务1
.pv-ico.xtask.xno1 {
  top: 29.6%;
}

// 任务2
.pv-ico.xtask.xno2 {
  top: 33.5%;
}

// 任务3
.pv-ico.xtask.xno3 {
  top: 38.4%;
}

// 任务4
.pv-ico.xtask.xno4 {
  top:42.9%;
}

// 任务状态按钮
.pv-task-btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

// 任务注释
.pv-task-note {
  margin-bottom: .3rem;
  color: #fff;
  font-size: .6rem;
  text-align: center;
}

// 文字方框
.pv-task-note var {
  position: relative;
  top: -2px;
  display: inline-block;
  width: .75rem;
  height: .75rem;
  line-height: .75rem;
  margin: 0 .2rem;
  vertical-align: middle;
  text-align: center;
  color: #e8083b;
  background: #fff;
}

// 查看视频按钮
.pv-task-videobtn {
  position: absolute;
  top: 49%;
  left: 50%;
  width: 10rem;
  height: 2rem;
  margin-left: -5rem;
  cursor: pointer;
}
